name: Avengers Assemble

on: push

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
     - name: checkout 
       uses: actions/checkout@v6

  deploy:
    runs-on: ubuntu-latest
    steps:

      - name: install
        run: sudo apt-get update && sudo apt-get install -y cowsay

      - name: run the cowsay
        run:  cowsay -f dragon "Run for cover, I am a dragon ... rawr" >> dragon.txt

      - name: upload dragon file
        uses: actions/upload-artifact@v5
        with: 
          name: dragon-artifact
          path: dragon.txt

      - name: sleep for 3 seconds
        run: sleep 3

  test:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: download artifact
        uses: actions/download-artifact@v6
        with:
         name: dragon-artifact

      - name: grep for the file
        run: grep -i "dragon" dragon.txt

      - name: Read file
        run: cat dragon.txt

      - name : Deploy
        run: echo Deploying ......