name: Avengers Assemble

on: push

jobs: 
  doomsdayscenario:
    runs-on: ubuntu-latest
    steps:
      - name: checkout the code
        uses: actions/checkout@v6

      - name: List and read files
        run: | 
          echo "Welcome to your first github actions workoutplan"
          ls -ltra
          cat README.md

      - name: Generate ASCII Artwork
        run: |
          sudo apt-get update && sudo apt-get install -y cowsay
          cowsay -f dragon "Run for cover, I am a DRAGON......RAWR" >> dragont.txt

      # - name: list the files
      #   run:  ls
      
      # - name: show the readme file
      #   run:  cat README.md

