name: My first workflow
on: push
jobs:
    Mihawkjob:
        runs-on: ubuntu-latest
        steps:
        
        - name: Checkout the github repository
          uses: actions/checkout@v6

        - name: Welcome message
          run:  echo "Welcome to your first github workflow"


        - name: list data
          run: ls

        - name: read data
          run: cat README.md

