name: Avengers Assemble

on: push

jobs: 
  doomsdayscenario:
    runs-on: ubuntu-latest
    steps:
      - name: checkout the code
        uses: actions/checkout@v6

      - name: Execute a shell script
        run: ./shell.sh