name: Avengers Assemble

on: push

jobs: 
  doomsdayscenario:
    runs-on: ubuntu-latest
    steps:
      - name: checkout the code
        uses: actions/checkout@v6

      - name: welcome message
        run:  echo "Welcome to your first github actions workoutplan"

      - name: list the files
        run:  ls
      
      - name: show the readme file
        run:  cat README.md

