name: Exploring the variables in github actions

on: push

env:
    CONTAINER_REGISTRY: docker.io
    DOCKER_USERNAME: rbmihawk
    DOCKER_PASSWORD: DishaRahul2121@
    IMAGE_NAME: nginx-github

# jobs:
#     docker:
#         runs-on: ubuntu-latest
#         steps:
#             - name: Docker build
#               run: docker build -t docker.io/dockerUsername/imageName:latest

#             - name: Docker login
#               run: docker login --username=dockerUsername --password=s3cUrePassword

#             - name: Docker publish
#               run: docker push docker.io/dockerUsername/imageName:latest

#     deploy:
#         needs: docker
#         runs-on: ubuntu-latest
#         steps:
#             - name: Docker Run
#               run: docker run -d -p 8080:80 docker.io/dockerUsername/imagename:latest


###################### Setting up env variables at step level  ######################

# jobs:
#     docker:
#         runs-on: ubuntu-latest
#         steps:
#             - name: Docker build
#               env:
#                 CONTAINER_REGISTRY: docker.io
#                 DOCKER_USERNAME: rbmihawk
#                 IMAGE_NAME: nginx-github
#               run: echo docker build -t $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest

#             - name: Docker Login
#               env:
#                 DOCKER_PASSWORD: DishaRahul2121@
#                 DOCKER_USERNAME: rbmihawk
#               run: echo docker login --username=$DOCKER_USERNAME --password=$DOCKER_PASSWORD

#             - name: Docker Publish
#               env: 
#                 CONTAINER_REGISTRY: docker.io
#                 DOCKER_USERNAME: rbmihawk
#                 IMAGE_NAME: nginx-github
#               run: echo docker push $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest
        
#     deploy:
#         needs: docker
#         runs-on: ubuntu-latest
#         steps:
#             - name: docker run to deploy the container
#               env:
#                 CONTAINER_REGISTRY: docker.io
#                 DOCKER_USERNAME: rbmihawk
#                 IMAGE_NAME: nginx-github
#               run: echo docker run -d -p 8080:80 $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest


###################### Setting up env variables at JOB level  ######################

# jobs:
#   docker:
#     runs-on: ubuntu-latest

#     env:
#       CONTAINER_REGISTRY: docker.io
#       DOCKER_USERNAME: rbmihawk
#       DOCKER_PASSWORD: DishaRahul2121@
#       IMAGE_NAME: nginx-github

#     steps:
#       - name: Docker build login and publish
#         run: |
#           echo docker build -t $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest
#           echo docker login --username=$DOCKER_USERNAME --password=$DOCKER_PASSWORD
#           echo docker push $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest

#   deploy:
#     needs: docker
#     runs-on: ubuntu-latest

#     env:
#       CONTAINER_REGISTRY: docker.io
#       DOCKER_USERNAME: rbmihawk
#       IMAGE_NAME: nginx-github

#     steps:
#       - name: Run container
#         run: |
#           echo docker run -d -p 8080:80 $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest


###################### Setting up env variables at Workflow level  ######################

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Docker build login and publish
        run: |
          echo docker build -t $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest
          echo docker login --username=$DOCKER_USERNAME --password=$DOCKER_PASSWORD
          echo docker push $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest

  deploy:
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - name: Run container
        run: |
          echo docker run -d -p 8080:80 $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest